<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Start - app configuration -->
    <add key="sleepTime" value="1"/>
    <!-- possible values: integer, number of seconds -->
    <add key="rotate-screen_monitor" value="1"/>
    <!-- possible values: integer, the index of the monitor (1=primary) for rotate screen-->
    <add key="rotate-screen_appName" value="pinballx"/>
    <!-- possible values: string, the case insensitive name of the application you want to monitor for rotate screen -->
    <add key="app-kill_appName" value="pinupdisplay"/>
    <!-- possible values: string, the case insensitive name of the application you want to kill for application kill -->
    <add key="app-kill_watchApp" value="[!]pinballx"/>
    <!-- possible values: string, the case insensitive name of the application you want to watch for application kill
         [!] in front of the name denotes when this app is not open, [+] or nothing means when this app is open -->
    <!-- Stop - app configuration -->
  </appSettings>
</configuration>