<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Start - app configuration -->
    <add key="sleepTime" value="1"/>
    <!-- possible values: integer, number of seconds -->
    <add key="monitor" value="1"/>
    <!-- possible values: integer, the index of the monitor (1=primary) -->
    <add key="appName" value="pinballx"/>
    <!-- possible values: string, the case insensitive name of the application you want to monitor -->
    <!-- Stop - app configuration -->
  </appSettings>
</configuration>