<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- INFO: with all '_appName' keys if it ends with an '*' it will see if the process name contains the string -->
    <!-- START:global config-->
    <add key="sleepTime" value="1" />
	<!-- possible values: integer, number of seconds -->
    <add key="os-version" value="64"/>
	<!-- possible values: integer, the bit of the OS ie: 32 or 64 -->
    <add key="config-file" value="AutoFunctions.config"/>
	<!-- possible values: string, file name for your config -->
	  <add key="logging_enabled" value="true"/>
  <!-- possible values: boolean, enable or disable logging -->
    <add key="log-file" value="AutoFunctions.log"/>
	<!-- possible values: string, file name for your log -->
    <!-- STOP:global config-->
    
    <!-- START:rotate screen config-->
    <add key="rotate-screen_enable" value="true" />
	<!-- enable or disable rotate screen -->
    <add key="rotate-screen_monitor" value="1" />
	<!-- possible values: integer, the index of the monitor (1=primary) for rotate screen-->
    <add key="rotate-screen_watchApp" value="pinballx*" />
	<!-- possible values: string, the case insensitive name of the application you want to monitor for rotate screen -->
    <!-- STOP:rotate screen config-->
    
    <!-- START:application kill config-->
    <add key="app-kill_enable" value="false" />
	<!-- enable or disable app kill -->
    <add key="app-kill_appName" value="pinupdisplay" />
	<!-- possible values: string, the case insensitive name of the application you want to kill for application kill -->
    <add key="app-kill_watchApp" value="[-]pinballx" />
	<!-- possible values: string, the case insensitive name of the application you want to watch for application kill
         [-] in front of the name denotes when this app is not open, [+] or nothing means when this app is open pinballx -->
    <!-- STOP:application kill config-->
    
    <!-- START:USB device kill config-->
    <add key="usb-kill_enable" value="true"/>
	<!-- possible values: boolean, enables or disables the service -->
    <add key="usb-kill_deviceName" value="LED-wiz"/>
	<!-- possible values: string, name of device you want to kill-->
    <add key="usb-kill_watchApp" value="pinballx*" />
	<!-- possible values: string, the case insensitive name of the application to (en/dis)able usb device -->
    <!-- STOP:USB device kill config-->
  
    <!-- START:move files config-->
    <!-- fromFolders and toFolders have a relationship in the order they are listed - the first 'from' will goto the first 'to', etc -->
    <add key="move-file_enable" value="true"/>
	<!-- possible values: boolean, enables or disables the service -->
	<add key="move-file_watchApp" value="pinballx*"/>
	<!-- possible values: string, the case insensitive name of the application to enable move file.  Leave blank to have ot run with service (always on) -->
    <add key="move-file_overwrite" value="true"/>
	<!-- possible values: boolean, enables or disables overwriting existing files if they exist -->
    <add key="move-file_extensions" value="*"/>
	<!-- possible values: string, the file extensions you want moved seperated by a ';' semicolon.  An '*' asterisk will check all files -->
    <add key="move-file_fromFolders" value="C:\Emulators\PinballX\Media\Visual Pinball\Screen Grabs;C:\Emulators\PinballX\Media\Visual Pinball Physmod5\Screen Grabs;C:\Emulators\PinballX\Media\Visual Pinball X\Screen Grabs;C:\Emulators\PinballX\Media\P-ROC\Screen Grabs;" />
	<!-- possible values: string, the folder you want to monitor for files seperated by a ';' semicolon -->
    <add key="move-file_toFolders" value="C:\Emulators\PinballX\Media\Visual Pinball\Table Images;C:\Emulators\PinballX\Media\Visual Pinball Physmod5\Table Images;C:\Emulators\PinballX\Media\Visual Pinball X\Table Images;C:\Emulators\PinballX\Media\P-ROC\Table Images;" />
	<!-- possible values: string, the folder you want the files moved into seperated by a ';' semicolon -->
    <!-- STOP:move files config-->
  </appSettings>
</configuration>